.booksList{
    position: relative;
    overflow-x: scroll;
    margin-bottom: 40px;
}
.booksList ul{
    position: relative;
    display: flex ;
    margin:20px;
    list-style: none;
    transition: 1s;
    padding: 0;
}
.booksList .head{
    padding-left:10px ;
    color: rgb(48, 48, 48);
    font-size: 24px!important;
}
.book{
    min-width:20%;
    padding:10px 25px;
    transition: 0.01s;
    
}
.book:hover{
    transform: scale(1.01);
}
.book .book-link{
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.book img{
    width: 80%;
    padding: 0px 10%;
}
