.bookListStyle{
    position: relative;
}
.leftButton {
    top:140px;
    left:-5px;
    position: absolute;
    z-index: 1;
    min-width:50px;
    height:40px;
    cursor: pointer;
}
.rightButton {
    top:140px;
    right:-5px;
    position: absolute;
    z-index: 1;
    min-width:50px;
    height:40px;
    cursor: pointer;
}


