.booksList{
    position: relative;
    overflow-x: scroll;
}
.booksList ul{
    position: relative;
    display: flex ;
    margin:20px;
    list-style: none;
    transition: 1s;
    padding: 0;
}
.book{
    min-width:20%;
    padding:15px;
    transition: 0.01s;
}
.book:hover{
    transform: scale(1.01);
}
.book img{
    width: 100%;
}
