
.flex {
    display: flex;
}
.row{
    margin: 0;
}
.white {
    color: white;
}

.black {
    color: rgb(42, 54, 71);
}

a{
    margin:3px;
}

hero img {
    width: 100%;
}
.bold{
    font-weight: bold;
}
.money-box{
    border-radius: 3px;
    background-color: rgb(223, 155, 28);
    color:white;
    padding:5px;
}