
.flex {
    display: flex;
}
.row{
    margin: 0;
}
.white {
    color: white;
}

.black {
    color: rgb(42, 54, 71);
}

a{
    margin:3px;
    text-decoration: inherit;
    color: inherit;
}

hero img {
    width: 100%;
}
.bold{
    font-weight: bold;
}
.money-box{
    border-radius: 3px;
    background-color: rgb(224, 155, 50);
    color:white;
    padding:5px;
}
.hr{
    width: 80%;
    height: 1px;
    display: block;
    padding: 0.1px;
    margin:20px 20px;
    background-color: rgb(170, 170, 170);
}