nav {
    background-color: #404b5f;
    color: white;
    padding: 5px;
    position: relative;
    display: flex;
}
nav .logo{
    padding:5px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
}
nav .burger{
    display: flex;
    flex-direction: column;
    width: 25px;
    padding:5px;
}
nav .burger span {
    padding:1px;
    background-color: rgb(209, 203, 203);
    margin:2px
}
nav .search {
    width: 80%;
    display: flex;
    padding: 7px 3%;
}

nav .search input {
    width: 90%;
    padding: 6px;
    color: black;
}

nav .search .btn {
    padding: 1px 20px;
}
nav .other{
    display: flex;
    align-items: center;
}